[class].editor-text-area {
  display: block;
  font: inherit;
  width: 100%;
  min-height: 5em;
  padding: 0.5em;
  font-size: 16px;
  border-radius: 3px;
  border: 1.5px solid #ddd;
  padding: 0.25em 0.4em;
  background: #fff;
  box-sizing: border-box;
  color: #000;

  &:focus-visible {
    outline: none;
    border: 1.5px solid #7fb1d3;
  }
}
